<h1>All the food</h1>

    
<%for food in @foods%>
    <li style="display: flex;"> <%=food.id%> 
        <%=food.name%>-<%=food.price%>
        <form action="<%=show_path(food.id)%>" method="POST">
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">DELETE</button>
        </form>

    </li>
 
<%end%>

